html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img,
area,
param {
  margin: 0;
  padding: 0;
  font-family: SF UI Display, Roboto, Helvetica, PingFang SC, Heiti SC, Noto Sans Han,
    Droid San Fallback;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: transparent;
}
ol,
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
html,
body {
  min-height: 100vh;
  background-color: #f0f0f0;
}
body {
  font-size: .14rem;
  color: #4a4a4a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 !important;
}
input {
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
input[type="number"] {
  -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
textarea {
  border: 0;
}
a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  outline: none;
  text-decoration: none;
}
a:visited {
  outline: none;
  text-decoration: none;
}
a:active {
  outline: none;
  text-decoration: none;
}
em {
  font-style: normal;
}
.content {
  padding-bottom: .48rem;
}
#__bs_notify__ {
  display: none !important;
}
.margin-top {
  margin-top: .1rem;
}
.humane {
  line-height: .24rem !important;
  font-size: .16rem !important;
  border-radius: 10px !important;
  min-height: .16rem !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.btn-hover {
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
  opacity: 1;
}
.btn-hover:active {
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
  opacity: 0.8;
}
.flexRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexColumn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.topBox {
  position: relative;
  background: #fff;
  padding-bottom: .2rem;
}
.topBox .project-img {
  height: 3.2rem;
  width: 7.5rem;
}
.topBox .project-title {
  width: 6.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-top: .25rem;
  font-size: .34rem;
  line-height: .52rem;
  font-weight: 600;
  margin-bottom: .2rem;
}
.topBox .project-sub {
  width: 7.3rem;
  padding-right: .2rem;
  height: .12rem;
  font-size: .28rem;
  line-height: .12rem;
  text-align: right;
}
.topBox .project-sub span {
  color: #af1d23;
}
.userBox {
  background: #fff;
  width: 7.5rem;
  margin-top: .17rem;
}
.userBox .userBox-head {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7.5rem;
  height: .87rem;
  border-bottom: .02rem solid #dfdfdf;
}
.userBox .userBox-head .userBox-head-label {
  height: .28rem;
  margin-left: .4rem;
  font-size: .28rem;
  line-height: .28rem;
}
.userBox .userBox-head .userBox-head-link {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: .87rem;
  margin-right: .33rem;
}
.userBox .userBox-head .userBox-head-link .userBox-head-link-label {
  height: .28rem;
  margin-right: .15rem;
  font-size: .28rem;
  color: #9b9b9b;
  line-height: .28rem;
}
.userBox .userBox-head .userBox-head-link .userBox-head-link-icon {
  height: .285rem;
  width: .165rem;
  background: url(../img/icon-arrow-right.png) no-repeat center;
  background-size: .165rem .285rem;
}
.userBox .userBox-list .userBox-item {
  width: 7.5rem;
  height: 1.3rem;
  border-top: .02rem solid #dfdfdf;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.userBox .userBox-list .userBox-item:first-child {
  border-top: none;
}
.userBox .userBox-list .userBox-item .userBox-item-left {
  margin-left: .4rem;
}
.userBox .userBox-list .userBox-item .userBox-item-left .userBox-item-left-img {
  height: .8rem;
  width: .8rem;
  border-radius: .8rem;
  margin-right: .2rem;
}
.userBox .userBox-list .userBox-item .userBox-item-left .userBox-item-left-name {
  height: .28rem;
  font-size: .28rem;
  line-height: .28rem;
}
.userBox .userBox-list .userBox-item .userBox-item-right {
  margin-right: .36rem;
}
.userBox .userBox-list .userBox-item .userBox-item-right .userBox-item-right-info {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
}
.userBox .userBox-list .userBox-item .userBox-item-right .userBox-item-right-info .userBox-item-right-info-top {
  height: .26rem;
  font-size: .26rem;
  line-height: .26rem;
  margin-bottom: .09rem;
  text-align: right;
}
.userBox .userBox-list .userBox-item .userBox-item-right .userBox-item-right-info .userBox-item-right-info-top span {
  color: #f74543;
}
.userBox .userBox-list .userBox-item .userBox-item-right .userBox-item-right-info .userBox-item-right-info-bottom {
  height: .22rem;
  font-size: .22rem;
  line-height: .22rem;
  text-align: right;
}
.userBox .userBox-list .userBox-item .userBox-item-right .userBox-item-right-btn {
  width: 1.5rem;
  height: .6rem;
  margin-left: .16rem;
  border-radius: .08rem;
  background: #bd1f2d;
  font-size: .28rem;
  line-height: .6rem;
  color: #fff;
  text-align: center;
}
.protectBox {
  width: 6.7rem;
  margin-top: .17rem;
  padding-left: .4rem;
  padding-right: .4rem;
  background: #fff;
  padding-bottom: 2rem;
  padding-top: .4rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: .32rem;
  line-height: .45rem;
}
.protectBox img {
  width: 6.7rem !important;
  margin-bottom: .25rem;
}
.protectBox .protectBox-title {
  height: .45rem;
  font-size: .32rem;
  line-height: .45rem;
  margin-bottom: .25rem;
}
.protectBox .protectBox-text {
  font-size: .28rem;
  line-height: .48rem;
  margin-bottom: .28rem;
  margin-bottom: .25rem;
}
.protectBox .protectBox-image {
  width: 6.7rem;
  margin-bottom: .25rem;
}
.bottomBtnBox {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 7.5rem;
  height: 1.1rem;
  background: #fff;
}
.bottomBtnBox .bottomBtnBox-paybtn-info {
  margin-left: .5rem;
  height: .38rem;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.bottomBtnBox .bottomBtnBox-paybtn-info .bottomBtnBox-info-label {
  height: .28rem;
  font-size: .28rem;
  line-height: .28rem;
  font-weight: 600;
}
.bottomBtnBox .bottomBtnBox-paybtn-info .bottomBtnBox-info-num {
  height: .38rem;
  font-size: .38rem;
  line-height: .38rem;
  font-weight: 600;
  color: #dd3d4b;
}
.bottomBtnBox .bottomBtnBox-paybtn {
  width: 3.75rem;
  height: 1.1rem;
  line-height: 1.1rem;
  background: #bd1f2d;
  color: #fff;
  font-size: .36rem;
  text-align: center;
  font-weight: 600;
}
.bottomBtnBox .bottomBtnBox-btn {
  width: 3.74rem;
  height: 1.1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c4575f;
}
.bottomBtnBox .bottomBtnBox-btn .bottomBtnBox-btn-top {
  height: .44rem;
  width: 100%;
  text-align: center;
  font-size: .36rem;
  line-height: .44rem;
  color: #fff;
}
.bottomBtnBox .bottomBtnBox-btn .bottomBtnBox-btn-top:first-child {
  margin-top: .13rem;
}
.bottomBtnBox .bottomBtnBox-btn-right {
  background: #af1d23;
}
.cover {
  position: fixed;
  top: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 7.5rem;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
.modal-user {
  position: relative;
  width: 6.2rem;
  max-height: 7.16rem;
  background: #fff;
  border-radius: .12rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-user .modal-close {
  position: absolute;
  top: .31rem;
  right: .39rem;
  height: .24rem;
  width: .24rem;
  background: url(../img/icon-close.png) no-repeat center;
  background-size: .24rem;
}
.modal-user .modal-user-title {
  width: 5.5rem;
  height: .98rem;
  border-bottom: .02rem solid #e3e3e3;
  font-size: .3rem;
  font-weight: 600;
  line-height: .98rem;
  text-align: center;
}
.modal-user .modal-userBox {
  width: 5.5rem;
  border-bottom: .02rem solid #e3e3e3;
  font-size: .3rem;
  font-weight: 600;
  line-height: .98rem;
  text-align: center;
  overflow: scroll;
}
.modal-user .modal-userBox .modal-userBox-item {
  width: 5.5rem;
  height: 1.1rem;
  border-bottom: 2rpx solid #e3e3e3;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-user .modal-userBox .modal-userBox-item .modal-userBox-item-left-head {
  width: .8rem;
  height: .8rem;
  border-radius: .8rem;
  margin-right: .18rem;
}
.modal-user .modal-userBox .modal-userBox-item .modal-userBox-item-left-infoBox {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal-user .modal-userBox .modal-userBox-item .modal-userBox-item-left-infoBox-top {
  height: .4rem;
  font-size: .24rem;
  line-height: .4rem;
  margin-bottom: .06rem;
  font-weight: 500;
}
.modal-user .modal-userBox .modal-userBox-item .modal-userBox-item-left-infoBox-bottom {
  height: .3rem;
  font-size: .22rem;
  line-height: .3rem;
  font-weight: 500;
}
.modal-user .modal-userBox .modal-userBox-item .modal-userBox-item-right {
  height: .52rem;
  width: 1.22rem;
  background: #bd1f2d;
  border-radius: .06rem;
  text-align: center;
  line-height: .52rem;
  font-size: .26rem;
  color: #fff;
}
.modal-project {
  position: relative;
  width: 6rem;
  min-height: 4.2rem;
  background: #fff;
  border-radius: .12rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .25rem;
}
.modal-project .modal-close {
  position: absolute;
  top: .24rem;
  right: .52rem;
  height: .24rem;
  width: .24rem;
  background: url(../img/icon-close.png) no-repeat center;
  background-size: .24rem;
}
.modal-project .modal-project-title {
  width: 5.5rem;
  height: .3rem;
  margin-top: .58rem;
  font-size: .3rem;
  font-weight: 600;
  text-align: center;
}
.modal-project .modal-project-sub {
  width: 5.5rem;
  height: .28rem;
  margin-top: .34rem;
  font-size: .24rem;
  font-weight: 500;
  text-align: center;
}
.modal-project .modal-project-sub span {
  color: #f74543;
}
.modal-project .modal-project-users {
  margin-top: .39rem;
  width: 5.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.modal-project .modal-project-users .modal-project-users-image {
  height: .8rem;
  width: .8rem;
  border-radius: .8rem;
  margin-left: .7rem;
  margin-bottom: .2rem;
}
.modal-project .modal-project-users .modal-project-users-image:first-child {
  margin-left: 0;
}
.modal-project .modal-project-btn {
  display: block;
  width: 5.2rem;
  height: .8rem;
  border-radius: .06rem;
  margin-top: .19rem;
  background: #bd1f2d;
  font-size: .32rem;
  color: #fff;
  line-height: .8rem;
  text-align: center;
  font-weight: 500;
}
/* 支付页面 */
.infoBox {
  height: .99rem;
  border-bottom: .02rem solid #d8d8d8;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.infoBox .infoBox-left {
  margin-left: .44rem;
}
.infoBox .infoBox-left .icon-add {
  width: .4rem;
  height: .4rem;
  background: url(../img/icon-add.png) no-repeat center;
  background-size: .4rem;
  margin-right: .44rem;
}
.infoBox .infoBox-left .infoBox-left-label {
  height: .4rem;
  font-size: .28rem;
  line-height: .4rem;
  font-weight: 600;
}
.infoBox .infoBox-link {
  margin-right: .55rem;
  width: .165rem;
  height: .285rem;
  background: url(../img/icon-arrow-right.png) no-repeat center;
  background-size: .165rem .285rem;
}
.projectBox {
  padding: .3rem .44rem;
  border-bottom: .02rem solid #d8d8d8;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.projectBox .projectBox-img {
  width: 1.9rem;
  height: 1.73rem;
  margin-right: .28rem;
}
.projectBox .projectBox-info {
  margin-top: .18rem;
  font-size: .3rem;
  line-height: .52rem;
  font-weight: 600;
}
.payBottomBtn {
  border-top: .02rem solid #d8d8d8;
}
.payBox {
  height: 1.66rem;
  width: 7.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.payBox .payBox-left {
  margin-left: .44rem;
}
.payBox .payBox-left .payBox-img {
  height: .76rem;
  width: .76rem;
  margin-right: .39rem;
  background: url(../img/icon-wechat.png) no-repeat center;
  background-size: .76rem;
}
.payBox .payBox-left .payBox-label {
  height: .42rem;
  font-size: .3rem;
  line-height: .42rem;
}
.payBox .payBox-btn {
  height: .46rem;
  width: .46rem;
  margin-right: .43rem;
  background: url(../img/icon-radio.png) no-repeat center;
  background-size: .43rem;
}
.pay-tip {
  width: 6.5rem;
  margin-left: .5rem;
  margin-top: .4rem;
  margin-bottom: 2rem;
}
/* 添加信息页面 */
.addPanel {
  position: fixed;
  z-index: 999;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
}
.formBox {
  width: 7.5rem;
  padding-top: .4rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: .02rem solid #d8d8d8;
}
.formBox .formBox-btn {
  height: .8rem;
  width: 5.9rem;
  line-height: .8rem;
  background: #bd1f2d;
  font-size: .32rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: .06rem;
  margin-top: 1rem;
}
.formBox .formBox-item {
  width: 7.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 1.05rem;
  margin-bottom: .32rem;
}
.formBox .formBox-item .formBox-item-label {
  margin-left: .44rem;
  font-size: .28rem;
  font-weight: 600;
}
.formBox .formBox-item .formBox-item-box {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: .72rem;
  width: 4.4rem;
  height: 1.05rem;
  border-bottom: 0.02rem solid rgba(155, 155, 155, 0.55);
}
.formBox .formBox-item .formBox-item-box .formBox-item-box-input {
  width: 4.4rem;
  height: 1.05rem;
  border: none;
  outline: none;
  text-align: right;
  font-size: .42rem;
}
.formBox .formBox-item .formBox-item-box .formBox-item-box-input-short {
  width: 2rem;
  height: 1.05rem;
  border: none;
  outline: none;
  text-align: right;
  font-size: .42rem;
}
.formBox .formBox-item .formBox-item-box .formBox-item-box-input-btn {
  width: 1.8rem;
  height: .7rem;
  margin-left: .2rem;
  background-color: #bd1f2d;
  border-radius: .1rem;
  line-height: .7rem;
  font-size: .28rem;
  color: #fff;
  text-align: center;
}
.formBox .formBox-item .formBox-item-selection {
  position: relative;
  margin-right: .72rem;
  height: .74rem;
  width: 4.36rem;
  border: 0.02rem solid rgba(155, 155, 155, 0.55);
  border-radius: .12rem;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.formBox .formBox-item .formBox-item-selection .formBox-item-selection-label {
  height: .36rem;
  font-size: .36rem;
  line-height: .36rem;
}
.formBox .formBox-item .formBox-item-selection .formBox-item-selection-icon {
  width: .22rem;
  height: .36rem;
  margin-left: .25rem;
  margin-right: .25rem;
}
.formBox .formBox-item .formBox-item-selection .formBox-selectedBox {
  position: absolute;
  left: 0;
  top: 0;
  height: .74rem;
  width: 4.36rem;
  opacity: 0;
}
.formBox .formBox-item .formBox-item-radioBox {
  margin-right: .72rem;
  width: 4.4rem;
  height: 1.05rem;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.formBox .formBox-item .formBox-item-radioBox .formBox-item-radioBox-item {
  margin-left: 1.54rem;
}
.formBox .formBox-item .formBox-item-radioBox .formBox-item-radioBox-item:first-child {
  margin-left: 0;
}
.formBox .formBox-item .formBox-item-radioBox .formBox-item-radioBox-item .radio-btn {
  height: .36rem;
  width: .36rem;
  background: url(../img/icon-radio-unselected.png) no-repeat center;
  background-size: .36rem;
  margin-right: .22rem;
}
.formBox .formBox-item .formBox-item-radioBox .formBox-item-radioBox-item .radio-btn-selected {
  background: url(../img/icon-radio-selected.png) no-repeat center !important;
  background-size: .36rem !important;
}
.formBox .formBox-item .formBox-item-radioBox .formBox-item-radioBox-item .radio-label {
  height: .4rem;
  font-size: .28rem;
  line-height: .4rem;
}
.formBox .formBox-item .noBorder {
  border: none;
}
.formBox .formBox-selection {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
