<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <title>HeyHeroes</title>

  <script>
    window.onresize = function () {
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    };
    window.onresize();
  </script>

  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../components/humane/themes/bigbox.css">
</head>

<style type="text/css">
  html,
  body {
    background-color: #fff;
  }
</style>

<body>
  <div class="flexColumn spage">
    <div class="icon-share"></div>
    <div class="icon-success"></div>
    <div class="spage-title">支付成功</div>
    <div class="spage-sub">支付方式：微信支付</div>
    <div class="spage-sub">支付金额：¥3000</div>
    <div class="spage-message">稍后您将收到订单短信</div>



  </div>




  <script src="../components/jquery/dist/jquery.min.js"></script>
  <script src="../components/humane/humane.min.js"></script>
  <script type="text/javascript">





  </script>
</body>

</html>
